<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:property-placeholder location="classpath:config.properties" file-encoding="UTF-8" />

	<context:component-scan base-package="redis.*"/>

	<bean id="userService"
		  class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl"
				  value="http://localhost:8080/hessianServer/api/service/userService" />
		<property name="serviceInterface" value="com.tiantian.hessianserver.service.UserService" />
	</bean>

	<import resource="spring-redis.xml"></import>

	<bean id="redis" class="redis.RedisClient"></bean>

</beans>
