<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">


    <!--mvc driven-->
    <context:component-scan base-package="net.xuele.basic.service"/>

    <bean name = "student,student2" class="net.xuele.basic.service.impl.Student">
        <constructor-arg name="name" value="student"/>
    </bean>
    <bean name = "teacher" class="net.xuele.basic.service.impl.Teacher">
        <property name="name" value="teacher"/>
        <property name="age" value="aaa"/>
        <property name="cla" value="yes"/>
    </bean>
    <!--<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">-->
        <!--<property name="messageConverters">-->
            <!--<list>-->
                <!--<bean id="stringConverter" class="org.springframework.http.converter.StringHttpMessageConverter">-->
                    <!--<constructor-arg value="UTF-8"/>-->
                <!--</bean>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
</beans>